### Decision Tree-Machine Learning Model

In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [36]:
data= pd.read_excel(r"C:\Users\Neha Mathew\OneDrive\Documents\Python Scripts\Data\Decision Tree Model\Data_decision_tree.xlsx")

In [37]:
data.head()

  Certification      Projects Supported_other_projects  Hike_ge_20pct
0        advance   low_budget                      yes              0
1   intermediate  high_budget                       no              1
2       beginner  high_budget                      yes              1
3   intermediate   low_budget                       no              0
4        advance  high_budget                       no              1

In [38]:
data.shape

(16, 4)

In [39]:
encoder=LabelEncoder()

In [47]:
data['cert_encoded']=encoder.fit_transform(data['Certification '])

In [40]:
data['proj_encoded']=encoder.fit_transform(data['Projects'])

In [41]:
data['Suppt_encoded']=encoder.fit_transform(data['Supported_other_projects'])

In [48]:
data.head()

,Certification,Projects,Supported_other_projects,Hike_ge_20pct,proj_encoded,Suppt_encoded,cert_encoded
0,advance,low_budget,yes,0,1,1,0
1,intermediate,high_budget,no,1,0,0,2
2,beginner,high_budget,yes,1,0,1,1
3,intermediate,low_budget,no,0,1,0,2
4,advance,high_budget,no,1,0,0,0

* Data Pre-processing*

In [46]:
data.columns

Index(['Certification ', 'Projects', 'Supported_other_projects',
       'Hike_ge_20pct', 'proj_encoded', 'Suppt_encoded'],
      dtype='object')

In [49]:
data_new = data.drop(['Certification ','Projects','Supported_other_projects'],axis =1)

In [50]:
data_new.head()

   Hike_ge_20pct  proj_encoded  Suppt_encoded  cert_encoded
0              0             1              1             0
1              1             0              0             2
2              1             0              1             1
3              0             1              0             2
4              1             0              0             0

In [52]:
inputs= data_new.drop(['Hike_ge_20pct'],axis=1)

In [54]:
results=data_new['Hike_ge_20pct']

In [55]:
inputs.head()

   proj_encoded  Suppt_encoded  cert_encoded
0             1              1             0
1             0              0             2
2             0              1             1
3             1              0             2
4             0              0             0

In [57]:
results.head()

0    0
1    1
2    1
3    0
4    1
Name: Hike_ge_20pct, dtype: int64

In [61]:
inputs_train,inputs_test,results_train,results_test = train_test_split(inputs,results, test_size =0.2, random_state= False)

In [74]:
myTree= DecisionTreeClassifier()

In [75]:
myTree.fit(inputs_train,results_train)

DecisionTreeClassifier()

In [76]:
prediction=myTree.predict(inputs_test)

In [77]:
results_test

1    1
6    0
8    1
9    0
Name: Hike_ge_20pct, dtype: int64

In [78]:
myTree.score(inputs_test,results_test)

1.0

In [80]:
cm= confusion_matrix(results_test, prediction)

In [81]:
cm

array([[2, 0],
       [0, 2]], dtype=int64)

In [87]:
print(classification_report(results_test,prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         2
           1       1.00      1.00      1.00         2

    accuracy                           1.00         4
   macro avg       1.00      1.00      1.00         4
weighted avg       1.00      1.00      1.00         4